@charset "UTF-8";
/*Variables*/
/*Mapa*/
.fondosdivs {
  background: rgba(230, 230, 230, 0.8352941176);
}

.boxw300 {
  background: rgba(230, 230, 230, 0.8352941176);
  color: black;
}
.boxw300 .boxw300img {
  width: 300px;
  height: 180px;
  border-radius: 8px;
  transition: transform 0.3s;
}
.boxw300 .boxw300img:hover {
  transform: translateY(-4px);
}

.boxw300b {
  background: rgba(51, 51, 51, 0.7803921569);
  color: #cc0000;
}
.boxw300b .boxw300img {
  width: 300px;
  height: 180px;
  border-radius: 8px;
  transition: transform 0.3s;
}
.boxw300b .boxw300img:hover {
  transform: translateY(-4px);
}

.tamañoh1 {
  font-size: 2rem;
}

.tamañoh2 {
  font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../image/nanoyhamilton.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-areas: "header" "aside" "main" "footer";
  font-family: "Oswald", sans-serif !important;
}
body::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(51, 51, 51, 0.7803921569);
}
body::-webkit-scrollbar-thumb {
  background-color: #cc0000;
  border-radius: 5px;
}

.header {
  grid-area: header;
  /*navegador*/
}
.header .logo {
  width: 50px;
  height: auto;
  float: left;
}
.header .pagina {
  margin-top: 15px;
}
.header .nav-link:hover {
  color: #cc0000;
}
.header .navbar {
  background-color: rgba(51, 51, 51, 0.7803921569);
  color: white;
}
.header .navbar a {
  text-decoration: none;
  color: white;
}

.aside {
  grid-area: aside;
}

.main {
  grid-area: main;
  margin-bottom: 30px;
  overflow: hidden;
  /*Tabla*/
  /*Gran premio*/
}
.main .anchoespecifico {
  width: 95%;
}
.main .thead td, .main .thead th {
  background-color: rgba(165, 58, 58, 0.7803921569);
}
.main .golden {
  color: rgb(199, 147, 15) !important;
}
.main .escuderia {
  width: 45%;
  border-radius: 10%;
}
.main .bandera {
  width: 30%;
  border-radius: 10%;
}
.main .gpactual, .main .siguientegp {
  background-image: url(../image/banderas/mexico.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.main #argentina {
  float: none;
  width: 10%;
  border-radius: 10%;
}
.main .siguientegp {
  background-image: url(../image/banderas/brasil.png);
}
.main .mapa {
  height: 400px;
}

.main {
  grid-area: main;
  flex: 1;
  margin-bottom: 30px;
  overflow: hidden;
}

.main {
  grid-area: main;
  flex: 1;
  margin-bottom: 30px;
  overflow: hidden;
}

.main {
  grid-area: main;
  flex: 1;
  margin-bottom: 30px;
}
.main .pilotos {
  background: rgba(230, 230, 230, 0.8352941176);
}
.main .pilotos .pilotosimg {
  width: 300px;
  height: 400px;
  border-radius: 8px;
  transition: transform 0.3s;
}
.main .pilotos .pilotosimg:hover {
  transform: translateY(-4px);
}

.main {
  grid-area: main;
  flex: 1;
  margin-bottom: 30px;
  overflow: hidden;
}
.main .tablacampeones {
  width: 95%;
  /*Extends*/
}
.main .tablacampeones .tablahead td,
.main .tablacampeones .tablahead th {
  background-color: rgba(165, 58, 58, 0.7803921569);
}
.main .tablacampeones .argentino, .main .tablacampeones .suizo, .main .tablacampeones .holandes, .main .tablacampeones .sudafricano, .main .tablacampeones .neozelandes, .main .tablacampeones .sueco, .main .tablacampeones .monegasco, .main .tablacampeones .italiano, .main .tablacampeones .frances, .main .tablacampeones .finlandes, .main .tablacampeones .español, .main .tablacampeones .canadiense, .main .tablacampeones .belga, .main .tablacampeones .brasilero, .main .tablacampeones .britanico, .main .tablacampeones .americano, .main .tablacampeones .austriaco, .main .tablacampeones .australiano, .main .tablacampeones .aleman {
  background-image: url(../image/banderas/argentina.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main .tablacampeones .aleman {
  background-image: url(../image/banderas/alemania.png);
}
.main .tablacampeones .australiano {
  background-image: url(../image/banderas/australia.png);
}
.main .tablacampeones .austriaco {
  background-image: url(../image/banderas/austria.png);
}
.main .tablacampeones .americano {
  background-image: url(../image/banderas/estadosunidos.png);
}
.main .tablacampeones .britanico {
  background-image: url(../image/banderas/granbretaña.png);
}
.main .tablacampeones .brasilero {
  background-image: url(../image/banderas/brasil.png);
}
.main .tablacampeones .belga {
  background-image: url(../image/banderas/belgica.png);
}
.main .tablacampeones .canadiense {
  background-image: url(../image/banderas/canada.png);
}
.main .tablacampeones .español {
  background-image: url(../image/banderas/españa.png);
}
.main .tablacampeones .finlandes {
  background-image: url(../image/banderas/finlandia.png);
}
.main .tablacampeones .frances {
  background-image: url(../image/banderas/francia.png);
}
.main .tablacampeones .italiano {
  background-image: url(../image/banderas/italia.png);
}
.main .tablacampeones .monegasco {
  background-image: url(../image/banderas/monaco.png);
}
.main .tablacampeones .sueco {
  background-image: url(../image/banderas/suecia.png);
}
.main .tablacampeones .neozelandes {
  background-image: url(../image/banderas/nuevazelanda.png);
}
.main .tablacampeones .sudafricano {
  background-image: url(../image/banderas/sudafricavieja.png);
}
.main .tablacampeones .holandes {
  background-image: url(../image/banderas/paises\ bajos.png);
}
.main .tablacampeones .suizo {
  background-image: url(../image/banderas/suiza.png);
}

.main {
  grid-area: main;
  flex: 1;
  margin-bottom: 30px;
  min-height: 75.6vh;
  overflow: hidden;
}
.main .margeneslaterales {
  margin-left: 25px;
  margin-right: 25px;
}
.main .margeneslaterales textarea {
  resize: none;
}
.main .margeneslaterales button {
  width: 100px;
  height: 45px;
  background: rgba(165, 58, 58, 0.7803921569);
  color: white;
  border: none;
  outline: none;
}

.fg404 {
  background-image: url(../image/gif/hamiltonchocamecanico.gif);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer {
  background-color: rgba(51, 51, 51, 0.7803921569);
  color: white;
  grid-area: footer;
  margin-top: auto;
}
.footer .ig {
  width: 30px;
  height: auto;
}
.footer .fc {
  margin-bottom: 3px;
  width: 25px;
  height: auto;
  border-radius: 5px;
}
.footer .x {
  margin-bottom: 3px;
  width: 30px;
  height: auto;
}
.footer .spotify {
  margin-bottom: 3px;
  width: 25px;
  height: auto;
}

@media (min-width: 100px) and (max-width: 556px) {
  .footer .socialbar {
    float: left !important;
  }
}

/*# sourceMappingURL=style.css.map */
