.main {
    grid-area: main;
    flex: 1;
    margin-bottom: 30px;
    .pilotos {
        background:map-get($colores , color-secundario);
        #pilotosimg {
            width: 300px;
            height: 400px;
            border-radius: 8px;
            transition: transform 0.3s;
            &:hover {
                transform: translateY(-4px);
            }
        }
    }
}


