.main {
    grid-area: main;
    margin-bottom: 30px;
    overflow: hidden;
                                                /*Tabla*/
    .anchoespecifico {
        width: 95%;
    }
    .thead  td, .thead th {
        background-color: map-get($colores, color-thead ) ;
        
    }
    .golden {
            color: map-get($colores , color-golden ) !important;
        }


    .escuderia { 
        @include tamaño(45%);
    }
    .bandera {
        @include tamaño(30%);
    }
                                                     /*Gran premio*/
    .gpactual {
        background-image: url(../image/banderas/brasil.png); 
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat;
        overflow: hidden;
    }

    #argentina {
        float: none;
        width: 10%;
        border-radius: 10%;
    }

    .siguientegp { 
        background-image: url(../image/banderas/estadosunidos.png);
        @extend .gpactual;
    }
    .mapa {
        height: 315px;
    }
}