.main{
    grid-area: main;
    flex: 1;
    margin-bottom: 30px;
    .cajatablacampeones {
        background: $color-secundario;
    }

    .tablacampeones {
        width: 95%;
    }

    .tablahead td,
    .tablahead th {
        background-color: $color-thead;
        ;
    }

    .argentino {
        background-image: url(../image/banderas/argentina.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .aleman {
        background-image: url(../image/banderas/alemania.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .australiano {
        background-image: url(../image/banderas/australia.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: rgb(146, 139, 139);
    }

    .austriaco {
        background-image: url(../image/banderas/austria.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .americano {
        background-image: url(../image/banderas/estadosunidos.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .britanico {
        background-image: url(../image/banderas/granbretaña.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .brasilero {
        background-image: url(../image/banderas/brasil.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .belga {
        background-image: url(../image/banderas/belgica.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: rgb(146, 139, 139);
    }

    .canadiense {
        background-image: url(../image/banderas/canada.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .español {
        background-image: url(../image/banderas/españa.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .finlandes {
        background-image: url(../image/banderas/finlandia.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .frances {
        background-image: url(../image/banderas/francia.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .italiano {
        background-image: url(../image/banderas/italia.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .monegasco {
        background-image: url(../image/banderas/monaco.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .sueco {
        background-image: url(../image/banderas/suecia.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .neozelandes {
        background-image: url(../image/banderas/nuevazelanda.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: rgb(146, 139, 139);
    }

    .sudafricano {
        background-image: url(../image/banderas/sudafricavieja.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .holandes {
        background-image: url(../image/banderas/paises\ bajos.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .suizo {
        background-image: url(../image/banderas/suiza.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}