
.main {
    grid-area: main;
    flex: 1;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    min-height: 75.4vh;
    .margeneslaterales {
       margin-left: 50px;
       margin-right: 50px;
       button {
        width: 100px;
        height: 45px;
        background: $color-thead;
        color: $color-letra;
        border: none;
        outline: none;
        } 

    } 
}