@mixin tamaño($width) {
    width:$width;
    border-radius: 10%;
    }

@mixin color($color,$letra) {
    background: $color;
    color: $letra;
    #boxw300img {
        width: 300px;
        height: 180px;
        border-radius: 8px;
        transition: transform 0.3s;
        &:hover {
            transform: translateY(-4px);
        }
    }
}