/*Computadora*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*grid*/
body {
    background-image: url(../image/nanoyhamilton.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-areas: "header"
                         "aside"
                         "main"
                         "footer";
    font-family: 'Oswald', sans-serif !important;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color:#333333;}
body::-webkit-scrollbar-thumb {
    background-color:#cc0000 ;
    border-radius: 5px;
}

.header {
    grid-area: header;
}

.aside {
    grid-area: aside;
}
.main {
    grid-area: main;
    flex: 1;
    margin-bottom: 30px;
}

/*navegador*/
#logo {
    width: 50px;
    height: auto;
    float: left;
}
#pagina {
    margin-top: 15px;
}
.nav-link:hover {
    color: #cc0000 ;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #333333c7;
    color: white;
}
.navbar a {
    text-decoration: none;
    color: white;
}


.footer {
    background-color: #333333c7;
    color: white;
    grid-area: footer;
}

#ig {
    width: 30px;
    height: auto;
}

#fc {
    margin-bottom: 3px;
    width: 25px;
    height: auto;
    border-radius: 20px;
}

#x {
    margin-bottom: 3px;
    width: 30px;
    height: auto;
}

#spotify {
    margin-bottom: 3px;
    width: 25px;
    height: auto;
}

@media (min-width:100px) and (max-width:556px) {
    .socialbar {
        float: left !important;
      }
}